<Html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            a{
                color: blanchedalmond;
            }
        </style>
    </head>
    <body>
        <div class="container"><p>&nbsp;</p>
        <button class="btn btn-primary"><a href="uploadresult">Upload result</a></button><p>&nbsp;</p>
        <button class="btn btn-primary"><a href="enternumber"> Check result</a></button>
    </div>
    </body>
</Html>