<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<style type="text/css">
	.nores{
        border:2px solid red;
        height: 50px;
        width: 27%;
        margin:50px 400px;
    }

    .nr{
        color: rgb(241, 12, 12);
        padding: 0px 90px
    }
	</style>
</head>
<body>
 <div class="nores">
    <h3 class="nr"><%=h1%></h3>
</div>
</body>
</html>